# Tarea 2

### 1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
A1 = 1
print(A1)

1

### 2) Imprimir el tipo de dato de la constante 8.5

In [2]:
A2 = 8.5
type(A2)

float

In [1]:
type(8.5)

float

### 3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(A1)

int

### 4) Crear una variable que contenga tu nombre

In [57]:
A3 = "Denjir "

### 5) Crear una variable que contenga un número complejo

In [7]:
A4 = 4 + 4j

### 6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
type(A4)

complex

### 7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [15]:
A5 = round(3.14159265359,4)
print(A5) 
round(3.14159265359,4)

3.1416

3.1416

In [2]:
pi = 3.1416

También podría ser A5 = 3.1416

### 8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [7]:
A6 = "True"
A7 = True

No se trata de lo mismo.

### 9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [18]:
type(A6)

str

In [19]:
type (A7)

bool

In [8]:
print("La variable 1 es de tipo ", type(A6), " y la variable 2 es de tipo ", type(A7))

La variable 1 es de tipo  <class 'str'>  y la variable 2 es de tipo  <class 'bool'>

### 10) Asignar a una variable, la suma de un número entero y otro decimal

In [25]:
A8 = 5
A8 + 5 + 5.5

15.5

In [9]:
corrección = 5 + 5.5

### 11) Realizar una operación de suma de números complejos

In [31]:
(5 + 4j) + (10 - 8j)

(15-4j)

In [12]:
comp1 = 5 + 4j
comp2 = (10 - 8j)
print(comp1+comp2)

(15-4j)

### 12) Realizar una operación de suma de un número real y otro complejo

In [30]:
(5.5) + (10 + 1j)

(15.5+1j)

In [14]:
c = comp1+ 5.5 
print(c)

(10.5+4j)

### 13) Realizar una operación de multiplicación

In [32]:
59876 * 3642

218068392

In [34]:
59876*3642

218068392

### 14) Mostrar el resultado de elevar 2 a la octava potencia

In [35]:
2**8

256

### 15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [45]:
A9 = 27
A9/4

6.75

### 16) De la división anterior solamente mostrar la parte entera

In [49]:
A9//4

6

### 17) De la división de 27 entre 4 mostrar solamente el resto

In [50]:
A9%4

3

### 18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [51]:
4*6+3

27

### 19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [58]:
A10 = "Arriechi"
print(A3 + A10)

Denjir Arriechi

### 20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

No son iguales porque "2" es un str y 2 es u int.

In [59]:
A11 = "2"
A12 = 2

In [15]:
2 == int("2")

True

### 21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [60]:
int(A11)

2

In [16]:
2 == int("2")

True

In [62]:
int(A11) + A12

4

### 22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [64]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

In [65]:
a = float(3,8)

TypeError: float expected at most 1 argument, got 2

In [66]:
a = float(3.8)

In [67]:
a = float('3.8')

Debe ser por la coma.

### 23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [72]:
A13 = 3
A13 -= 9;3
print(A13)

-6

In [17]:
A13 = 3
A13 -= 9
print(A13)

-6

### 24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [73]:
1 << 2

4

El sistema binario, popularmente conocido porque es el sistema que utilizan los ordenadores y el resto de dispositivos electrónicos, es un sistema de base 2. Eso significa que es un sistema que solo utiliza dos cifras para representar todos sus números y en el caso del código binario estas dos cifras son el 0 y el 1.

### 25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [74]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Si los dos operandos fueran del mismo tipo o solo numéricos o solo por cadena, se podría.

### 26) Realizar una operación válida entre valores de tipo entero y string

In [76]:
5 + int('5')

10

In [21]:
x = "Amén "
y = 3 
print(x*y+str(3)+" veces")

Amén Amén Amén 3 veces